---
import { extractSlugFromFile, createConversationUrl } from '../utils/slugUtils.js';

export interface Props {
  conversations: any[];
  date: string;
}

const { conversations, date } = Astro.props;

const processedConversations = conversations.map((conv) => {
  const { frontmatter, file } = conv;
  const slug = extractSlugFromFile(file);
  
  return {
    frontmatter,
    slug,
    url: createConversationUrl(date, slug)
  };
});
---

<div class="tree-container">
  <div class="tree-level-0">
    <a href={`/${date}/`} class="tree-link">{date}/</a>
    <span class="tree-meta">{processedConversations.length} conversations</span>
  </div>

  {processedConversations.map((conv) => (
    <div class="tree-level-1">
      <a href={conv.url} class="tree-link">{conv.frontmatter.title}</a>
      <span class="tree-meta">
        {conv.frontmatter.time}
      </span>
    </div>
  ))}
</div>

